body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


a, ul {
    text-decoration: none;
    list-style: none;
    color: rgba(128, 128, 128, 1);
    margin: 0px;
    padding: 0px;
}

nav li {
    display: inline;
    font-size: 10px;
    margin-right: 10px;
}
nav ul {
    margin-top: 10px;

}
nav {
    display: flex;
    justify-content: space-between;
    background: #f1f1f1;
    padding: 10px;
}

.heading > p {
    color: #d93025;
    font-family: inherit;
    /* font-weight: bold; */
    font-size: 20px;
    margin: 30px 0px 25px 50px;

}

.heading {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

form {
    margin: 40px 29px 0px 45px;
}

.field-head  {
    font-size: 16px;
}

