body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


a, ul {
    text-decoration: none;
    list-style: none;
    color: rgba(128, 128, 128, 1);
    margin: 0px;
    padding: 0px;
}

nav li {
    display: inline;
    margin-right: 10px;
    font-size: 15px;
}
nav ul {
    margin-top: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #f1f1f1;
    padding: 10px;
}

.heading > p {
    color: #d93025;
    font-family: inherit;
    font-size: 20px;
    margin: 30px 0px 25px 45px;

}

.heading {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}


.field-head  {
    font-size: 16px;
}



form {
    margin: 45px 35px 30px 45px;
    display: flex;
    flex-direction: row;
}


.field1  {
    margin-top: 30px;

}

.field3_ {
    font-weight: lighter;
   

}
.field3 {
    margin-left: 10px;
    margin-top: 32px;
    font-size: 10px;
}


#l-field {
    margin-right: 30px;
}

#r-field {
    margin-left: 5px;
}


.mid-field {
    height: 20px;
    width: 555px;
    margin-bottom: 17px;
}


#m-field{
    margin-top: 30px;
    /* display: flex;
    justify-content: end; */
}

input[type="submit"] {
    width: 103px;
    box-sizing: border-box;
    height: 25px;
    background-color: #4d90fe;
    color: #fff;
    
    
    font-size: 10px;
    border: 1px solid #4d90fe;

}

#btn {
    
    display: flex;
    justify-content: flex-end;
    
}

footer li {
    display: inline-block;
    overflow: auto;
    margin-left: 26px;
   
}


.above-footer {
    margin-bottom: 5px;
    font-size: 15px;
}

.l-footer {
    font-size: 14px;
}

footer {
    position: absolute;
    bottom: 0px;
    background-color: #f2f2f2;
    border-top: 1px solid rgba(128, 128, 128, 0.1);
    width: 100%;
    margin-bottom: 10px;
    padding-top: 12px;
    padding-bottom: 5px;
}

.bottom-footer {
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.1);
    padding-top: 15px;
    /* padding-bottom: 15px; */

}
